{% extends 'navbar.html' %}
{% block content %}
<h2 align="center"  style="color:gray"> ***...Student table...***</h2>
<table align="center" border="2" class="table">
    <tr  style="color:blue">
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Phone</th>
        <th>City</th>
        <th>Course</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    {% for i in data %}
    <tr  style="color:maroon">
        <td>{{ i.id }}</td>
        <td>{{ i.Stud_Name }}</td>
        <td>{{ i.Stud_Age }}</td>
        <td>{{ i.Stud_Phone }}</td>
        <td>{{ i.Stud_City }}</td>
        <td>{{ i.Stud_Course }}</td>
        <td><a href="{% url 'update' i.id %}">Update</a></td>
        <td><a href="{% url 'del' i.id %}">Delete</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}