{% extends 'navbar.html' %}
{% block content %}
<h2 align="center">add student data</h2>
<form action="readdata" method="post">
    {% csrf_token %}
    <table align="center">
        <tr>
            <td style="color:green">Name:</td>
            <td><input type="text" name="txtName"></td>
        </tr>
        <tr>
            <td style="color:green">Age:</td>
            <td><input type="number" name="txtAge"></td>
        </tr>
        <tr>
            <td style="color:green">Phone number:</td>
            <td><input type="number" name="txtPhone"></td>
        </tr>
        <tr>
            <td style="color:green">City:</td>
            <td><select name="ddlCity">
                {% for i in City_Data %}
                    <option>{{ i.City_Name }}</option>
                {% endfor %}
            </select></td>
        </tr>
        <tr>
            <td style="color:green">Course:</td>
            <td><select name="ddlCourse">
                {% for i in Course_Data %}
                    <option>{{ i.Course_Name }}</option>
                {% endfor %}
            </select>
            </td>
        </tr>
       <tr> <td> <input type="submit" name="btnSub" value="addStudents" style="background-color:aqua"></td></tr>
    </table>
</form>

{% endblock %}